.moodTestsContent {
  align-self: start;
  margin-top: 50px;
  grid-area: content;
}

.moodTestsBlocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
}
